anytree==2.6.0
appdirs==1.4.3
application-utility==1.1.4
attrs==19.1.0
Brlapi==0.7.0
btrfsutil==1.1.1
CacheControl==0.12.5
catfish==1.4.8
chardet==3.0.4
colorama==0.4.1
cupshelpers==1.0
cycler==0.10.0
distlib==0.2.9
distro==1.4.0
docopt==0.6.2
Guake==3.6.3
gufw==18.10.0
html5lib==1.0.1
idna==2.8
Jade-Application-Kit==2.0.9
keyutils==0.5
kiwisolver==1.1.0
lensfun==0.3.2
lightdm-gtk-greeter-settings==1.2.2
lockfile==0.12.2
louis==3.10.0
lxml==4.4.1
matplotlib==3.1.1
menulibre==2.2.1
msgpack==0.6.1
mugshot==0.4.1
npyscreen==4.10.5
numpy==1.17.0
packaging==19.1
pacman-mirrors==4.14.2
pandas==0.25.1
pbr==5.4.2
pep517==0.5.0
pexpect==4.7.0
Pillow==9.0.0
progress==1.5
psutil==5.6.3
ptyprocess==0.6.0
pwquality==1.4.0
pycairo==1.18.1
pycups==1.9.74
pycurl==7.43.0.3
Pygments==2.4.2
PyGObject==3.32.2
pyparsing==2.4.2
PyQt5==5.13.0
PyQt5-sip==4.19.18
python-dateutil==2.8.0
python-distutils-extra==2.39
pytoml==0.1.21
pytz==2019.2
pyxdg==0.26
PyYAML==5.1.1
reportlab==3.5.23
requests==2.22.0
retrying==1.3.3
scipy==1.3.1
seaborn==0.9.0
six==1.12.0
team==1.0
udiskie==1.7.7
ufw==0.36
urllib3==1.25.3
virtualenv==16.7.0
webencodings==0.5.1
